@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,200..800;1,200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;1,100&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "IBM Plex Sans";
  color: rgb(6, 18, 36);
}

button {
  font-family: "IBM Plex Sans";
}

.gradient {
  background: linear-gradient(293.97deg, rgb(222, 238, 252) -9.96%, rgba(255, 255, 255, 0) 111.88%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.drop-link {
  border: none;
  display: inline-block;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 19%;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgb(6, 18, 36);
  position: relative;
  padding-right: 12px;
}
.drop-link::after {
  width: 8px;
  height: 4px;
  position: absolute;
  content: "";
  right: 0;
  background-image: url(../../img/drop.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 10px;
}

.title {
  font-family: "IBM Plex Serif";
  font-weight: 500;
  font-size: 40px;
  line-height: 45.5px;
  letter-spacing: 0;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 20px;
    line-height: 22px;
  }
}
.pagination {
  display: flex;
  max-width: 80px;
  justify-content: space-between;
  margin: 0 auto;
}

.pagination__button {
  width: 10px;
  height: 10px;
  border: 2px solid rgb(16, 100, 229);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.pagination__button--active {
  background-color: rgb(16, 100, 229);
}

.blue-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 4%;
  text-transform: uppercase;
  background-color: rgb(16, 100, 229);
  color: #fff;
  padding: 17px 32px;
  border-radius: 45px;
  display: inline-block;
  border: 1px solid rgb(16, 100, 229);
}
.blue-button:hover {
  background-color: transparent;
  color: rgb(16, 100, 229);
}

.blue-button--light {
  background-color: transparent;
  color: rgb(6, 18, 36);
  border: 1px solid rgb(16, 100, 229);
}
.blue-button--light:hover {
  background-color: rgb(16, 100, 229);
  color: white;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
}
.header {
  padding-top: 36px;
  padding-bottom: 20px;
  background-color: rgb(216, 241, 240);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-logo {
  display: none;
}

.header__nav {
  margin-right: 32px;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 36px;
}
.header__nav-item:last-child {
  margin-right: 0;
}

.header__auth {
  margin-right: 25px;
}

.header__nav-item-link {
  color: rgb(6, 18, 36);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 19%;
  vertical-align: middle;
  text-transform: uppercase;
}

.header__auth-button {
  margin-right: 24px;
}

.header__checkbox-label {
  display: none;
  width: 27px;
  height: 27px;
  background: url("../../img/open.png") no-repeat center center;
  cursor: pointer;
  z-index: 1;
}

.header__checkbox:checked + .header__checkbox-label {
  background: url("../../img/close.png") no-repeat center center;
  position: absolute;
  right: 52px;
  top: 43px;
  z-index: 99;
}

.header__gradient {
  width: 100%;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  background-color: rgb(6, 18, 36);
  display: none;
}

@media only screen and (max-width: 980px) {
  .header__nav-item {
    margin-right: 16px;
  }
  .header__nav {
    margin-right: 25px;
  }
  .header__auth-button {
    margin-right: 16px;
  }
  .header__auth {
    margin-right: 16px;
  }
}
@media only screen and (max-width: 890px) {
  .header__checkbox-label {
    display: block;
  }
  .header__menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 450px;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 106px 45px 45px;
  }
  .header__menu .header__menu-logo {
    display: inline-block;
    position: absolute;
    top: 35px;
  }
  .header__checkbox:checked ~ .header__menu {
    display: block;
    z-index: 3;
  }
  .header__checkbox:checked ~ .header__gradient {
    display: block;
    z-index: 1;
  }
  .header__nav {
    margin: 0;
  }
  .header__nav-list {
    border-top: 1px solid rgb(16, 100, 229);
    flex-direction: column;
    width: 100%;
  }
  .header__nav-item {
    margin: 0 0 44px;
  }
  .header__nav-item:first-child {
    margin-top: 44px;
  }
  .header__nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 19%;
    vertical-align: middle;
    text-transform: uppercase;
  }
  .header__auth {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding-bottom: 28px;
    width: 100%;
    border-bottom: 1px solid rgb(16, 100, 229);
    margin-bottom: 15px;
  }
  .header__auth-button {
    margin: 0;
    display: block;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 440px) {
  .header__menu {
    width: 380px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.auth__button {
  border: none;
  display: inline-block;
  background-color: transparent;
  padding: 8px 32px;
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.9px;
  text-transform: uppercase;
  border-radius: 43px;
  border: 1px solid rgb(16, 100, 229);
  cursor: pointer;
}

.auth__button--signin {
  background-color: transparent;
  color: rgb(6, 18, 36);
}
.auth__button--signin:hover {
  background-color: rgb(16, 100, 229);
  color: white;
}

.auth__button--signup {
  color: #fff;
  background-color: rgb(16, 100, 229);
}
.auth__button--signup:hover {
  background-color: transparent;
  color: rgb(16, 100, 229);
}

.intro {
  background-color: rgb(216, 241, 240);
}

.intro__container {
  padding: 108px 10px 29px 10px;
}

.intro__content {
  max-width: 586px;
  padding-bottom: 98px;
}

.intro__content-list {
  display: flex;
  margin: 14px 0;
  align-items: center;
}

.intro__content-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 4%;
  vertical-align: middle;
  padding-right: 32px;
  margin-right: 16px;
  position: relative;
  opacity: 0.6;
}
.intro__content-item::after {
  position: absolute;
  width: 16px;
  height: 3px;
  content: "";
  background-color: rgb(16, 100, 229);
  right: 0;
  top: 9px;
  z-index: 0;
}
.intro__content-item:last-child {
  margin-right: 0;
  padding-right: 0;
}
.intro__content-item:last-child::after {
  display: none;
}

.intro__content-item--active {
  opacity: 1;
  font-size: 24px;
}
.intro__content-item--active::after {
  top: 13px;
}

.intro__content-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0;
  vertical-align: middle;
  margin-bottom: 14px;
}

.intro__content-description {
  max-width: 454px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 4%;
  margin-bottom: 48px;
}

@media only screen and (max-width: 768px) {
  .intro__container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .intro__content {
    max-width: 344px;
  }
}
@media only screen and (max-width: 768px) {
  .intro__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.benefits {
  padding: 54px 0 74px;
}

.benefits__container {
  max-width: 985px;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  max-width: 306px;
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position: left center;
}
.benefits__item:nth-child(1) {
  background-image: url("../../img/speedometer.png");
}
.benefits__item:nth-child(2) {
  background-image: url("../../img/positive-vote.png");
  max-width: 265px;
}
.benefits__item:nth-child(3) {
  background-image: url("../../img/piggy-bank.png");
  max-width: 282px;
}

.benefits__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 45px;
  letter-spacing: 0;
}

.benefits__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 4%;
}

@media only screen and (max-width: 890px) {
  .benefits__item {
    max-width: 250px;
    padding-left: 57px;
    background-size: 42px;
  }
}
@media only screen and (max-width: 768px) {
  .benefits__item {
    max-width: 221px;
    background-position: left 11px;
    margin-right: 4px;
  }
  .benefits__item:nth-child(2) {
    max-width: 221px;
  }
  .benefits__item:nth-child(3) {
    max-width: 221px;
    margin-right: 0;
  }
  .benefits__item-title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .benefits__list {
    flex-direction: column;
  }
  .benefits__item {
    max-width: 100%;
    padding-left: 75px;
    background-position: left center;
    margin: 0;
    margin-bottom: 36px;
  }
  .benefits__item:nth-child(2) {
    max-width: 100%;
  }
  .benefits__item:nth-child(3) {
    max-width: 100%;
    margin-bottom: 0;
  }
}
.info {
  padding-top: 57px;
  padding-bottom: 92px;
  background-color: rgb(216, 241, 240);
}

.info__list {
  display: flex;
  flex-direction: column;
}

.info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__item:nth-child(even) {
  flex-direction: row-reverse;
  margin-top: 57px;
}
.info__item:nth-child(even) .info__item-content {
  max-width: 533px;
  margin-left: 15px;
  margin-right: 0;
}

.info__item-content {
  max-width: 530px;
  margin-right: 15px;
}

.info__img {
  flex-shrink: 0;
}

.info__item-title {
  margin-bottom: 18px;
}

.info__item-text {
  padding-left: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  margin-bottom: 10px;
  position: relative;
}
.info__item-text::before {
  position: absolute;
  width: 8px;
  height: 28px;
  content: "-";
  left: 0;
}

.info__item-link {
  margin-top: 19px;
}

@media only screen and (max-width: 1100px) {
  .info__container {
    padding: 0;
  }
  .info__img {
    margin-right: -20%;
    flex-shrink: 1;
  }
  .info__item {
    overflow-x: hidden;
    padding-left: 10px;
  }
  .info__item:nth-child(even) {
    padding-right: 10px;
    padding-left: 0;
  }
  .info__item:nth-child(even) .info__img {
    margin-right: 0;
    margin-left: -20%;
  }
}
@media only screen and (max-width: 870px) {
  .info__img {
    margin-right: -30%;
  }
  .info__item:nth-child(even) .info__img {
    margin-right: 0;
    margin-left: -30%;
  }
}
@media only screen and (max-width: 768px) {
  .info__item-text {
    font-size: 16px;
  }
  .info__img {
    margin-right: -35%;
    width: 497px;
    height: 282px;
  }
  .info__item-content {
    max-width: 401px;
  }
  .info__item:nth-child(even) .info__item-content {
    max-width: 401px;
  }
  .info__item:nth-child(even) .info__img {
    margin-right: 0;
    margin-left: -35%;
  }
}
@media only screen and (max-width: 675px) {
  .info__img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .info__container {
    padding: 0 20px;
  }
  .info__item-content {
    max-width: 100%;
    margin: 0;
    margin-bottom: 31px;
  }
  .info__item {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .info__item:nth-child(even) {
    padding: 0;
    flex-direction: column;
  }
  .info__item:nth-child(even) .info__item-content {
    margin-left: 0;
    max-width: 100%;
  }
  .info__item:nth-child(even) .info__img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .info__item-link {
    display: block;
    max-width: 217px;
    font-size: 14px;
    padding: 15px 27px;
    margin: 0 auto;
    margin-top: 31px;
    text-align: center;
  }
}
.pricing {
  padding: 57px 0 98px;
}

.pricing__title {
  text-align: center;
  margin-bottom: 63px;
}

.pricing__list {
  display: flex;
  justify-content: space-between;
}

.pricing__item {
  padding: 32px;
  background-color: rgb(216, 241, 240);
  width: 256px;
  border-radius: 4px;
}
.pricing__item:last-child .pricing__item-text {
  margin-bottom: 84px;
}

.pricing__item-title {
  margin-bottom: 44px;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0;
}

.pricing__button {
  padding: 9px 15px 11px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3%;
  text-align: center;
  display: block;
}

.pricing__item-text {
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

.pricing__item-price {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0;
  margin-bottom: 48px;
}

.pricing__item-price-currency {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (max-width: 1045px) {
  .pricing__list {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .pricing__list {
    gap: 0;
  }
  .pricing__item {
    margin-bottom: 20px;
  }
}
.documents {
  padding: 43px 0;
  background-color: rgb(216, 241, 240);
}

.documents__fallowed-info {
  font-weight: 500;
  font-size: 73px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 12px;
}

.documents__fallowed-label {
  font-family: "IBM Plex Serif";
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 12px;
}

.documents__description {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  max-width: 478px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .documents__fallowed-info {
    font-size: 56px;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
  }
  .documents__fallowed-label {
    font-size: 36px;
    line-height: 48px;
  }
}
@media only screen and (max-width: 465px) {
  .documents__fallowed-info {
    font-size: 36px;
    line-height: 36px;
  }
  .documents__fallowed-label {
    font-size: 20px;
    line-height: 22px;
  }
}
.friends {
  padding-top: 47px;
  padding-bottom: 58px;
}

.friends__container {
  max-width: 1033px;
}

.friends__title {
  text-align: center;
  margin-bottom: 29px;
}

.friends__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.product {
  padding-top: 38px;
  padding-bottom: 44px;
  background-color: rgb(216, 241, 240);
}

.product__title {
  text-align: center;
  margin-bottom: 32px;
}

.product__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__item {
  position: relative;
}
.product__item::after {
  position: absolute;
  width: 374px;
  height: 395px;
  content: "";
  top: 0;
  background: linear-gradient(293.97deg, #FFFFFF -9.96%, rgba(255, 255, 255, 0) 111.88%);
}

.product__item-box {
  margin-top: 14px;
  padding: 0 16px;
  max-width: 289px;
}

.product__item-date {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.product__item-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  margin-top: 6px;
}

.live {
  padding-top: 49px;
  padding-bottom: 63px;
}

.live__title {
  text-align: center;
  margin-bottom: 20px;
}

.live__video {
  max-width: 734px;
  height: 451px;
  margin: 0 auto;
  border-radius: 4px;
  background-image: url(../../img/live.jpg);
  position: relative;
}
.live__video::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../../img/live-gradient.png);
}

.live__play-button {
  width: 102px;
  height: 102px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: calc(50% - 51px);
  top: calc(50% - 51px);
  cursor: pointer;
  background-image: url(../../img/play.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.faqs {
  padding-top: 26px;
  padding-bottom: 42px;
  background-color: rgb(216, 241, 240);
}

.faqs__title {
  text-align: center;
  margin-bottom: 36px;
}

.faqs__text-answer {
  display: none;
  padding-left: 29px;
}

.faqs__input:checked ~ .faqs__text-answer {
  display: block;
}

.faqs__text-wrapper {
  max-width: 525px;
  margin: 0 auto 18px;
}

.faqs__text-question {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  padding-left: 29px;
  cursor: pointer;
  position: relative;
}
.faqs__text-question::before {
  position: absolute;
  width: 10px;
  height: 11px;
  content: "+";
  color: rgb(16, 100, 229);
  font-size: 24px;
  font-weight: 500;
  left: 0;
}

.faqs__input:checked + .faqs__text-question {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
}
.faqs__input:checked + .faqs__text-question::before {
  content: "-";
}

.contact {
  padding-top: 56px;
  padding-bottom: 98px;
}

.contact__title {
  text-align: center;
}

.contact__form {
  max-width: 625px;
  margin: 30px auto 0;
}

.contact__form-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 30px;
}

.contact__form-input-box {
  display: flex;
  justify-content: space-between;
}

.contact__input {
  border: 1px solid rgb(16, 100, 229);
  border-radius: 37px;
  flex-grow: 1;
  margin-right: 18px;
  padding: 0 10px;
}
.contact__input:focus {
  outline: 2px solid rgb(16, 100, 229);
}

.contact__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 19%;
  padding: 12px 47px;
  cursor: pointer;
}

.footer {
  padding-top: 64px;
  padding-bottom: 56px;
  color: #fff;
  background-color: rgb(6, 18, 36);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__box {
  position: relative;
  min-width: 115px;
  max-width: 242px;
}
.footer__box:nth-child(2) {
  padding-bottom: 40px;
}
.footer__box:nth-child(3) {
  margin-right: 50px;
}

.footer__list:first-child {
  margin-bottom: 32px;
}

.footer__bottom-text {
  position: absolute;
  bottom: 0;
  color: #fff;
  opacity: 0.4;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0;
}

.footer__item-link {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.footer__item-address-link {
  color: #fff;
  opacity: 0.8;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  display: block;
  margin-bottom: 6px;
}