.benefits {
    padding: 54px 0 74px;
}
.benefits__container {
    max-width: 985px;
}
.benefits__list {
    display: flex;
    justify-content: space-between;
}
.benefits__item {
    max-width: 306px;
    padding-left: 80px;
    background-repeat: no-repeat;
    background-position: left center;
    &:nth-child(1) {
        background-image: url("../../img/speedometer.png");
    }
    &:nth-child(2) {
        background-image: url("../../img/positive-vote.png");
        max-width: 265px;
    }
    &:nth-child(3) {
        background-image: url("../../img/piggy-bank.png");
        max-width: 282px;
    }
}
.benefits__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
    letter-spacing: 0;

}
.benefits__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 4%;

}
@media only screen and (max-width:890px) {
    .benefits__item {
        max-width: 250px;
        padding-left: 57px;
        background-size: 42px;
    }
}
@media only screen and (max-width:$tablet) {
    .benefits__item {
        max-width: 221px;
        background-position: left 11px;
        margin-right: 4px;
        &:nth-child(2) {
            max-width: 221px;
        }
        &:nth-child(3) {
            max-width: 221px;
            margin-right: 0;
        }
    }
    .benefits__item-title {
        font-size: 20px;
    }
}
@media only screen and (max-width:600px) {
    .benefits__list {
        flex-direction: column;
      
    }
    .benefits__item {
        max-width: 100%;
        padding-left: 75px;
        background-position: left center;
          margin: 0;
        margin-bottom: 36px;
        &:nth-child(2) {
            max-width: 100%;
        }
        &:nth-child(3) {
            max-width: 100%;
            margin-bottom: 0;
        }
    }
}
