.container{
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 10px;
}
@media only screen and (max-width:$tablet){
    .container{
        padding: 0 50px;
    }
}
@media only screen and (max-width:600px){
    .container{
        padding: 0 20px;
    }
}