.documents {
    padding: 43px 0;
    background-color: $background;
}

.documents__fallowed-info {
    font-weight: 500;
    font-size: 73px;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 12px;
}
.documents__fallowed-label {
    font-family: "IBM Plex Serif";
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 12px;
}
.documents__description {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    max-width: 478px;
    margin: 0 auto;
    text-align: center;
}
@media only screen and (max-width:$tablet) {
    .documents__fallowed-info {
        font-size: 56px;
        line-height: 48px;
        letter-spacing: 0;
        text-align: center;

    }
    .documents__fallowed-label {
        font-size: 36px;
        line-height: 48px;
    }
}
@media only screen and (max-width:465px) {
    .documents__fallowed-info {
        font-size: 36px;
        line-height: 36px;
    }
    .documents__fallowed-label {
        font-size: 20px;
        line-height: 22px;
    }
}
