.header {
    padding-top: 36px;
    padding-bottom: 20px;
    background-color: $background;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__menu-logo {
    display: none;
}
.header__nav {
    margin-right: 32px;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 36px;
    &:last-child {
        margin-right: 0;
    }
}
.header__auth {
    margin-right: 25px;
}
.header__nav-item-link {
    color: $black;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 19%;
    vertical-align: middle;
    text-transform: uppercase;

}
.header__auth-button {
    margin-right: 24px;
}
.header__checkbox-label {
    display: none;
    width: 27px;
    height: 27px;
    background: url("../../img/open.png") no-repeat center center;
    cursor: pointer;
    z-index: 1;
}
.header__checkbox:checked + .header__checkbox-label {
    background: url("../../img/close.png") no-repeat center center;
    position: absolute;
    right: 52px;
    top: 43px;
    z-index: 99;
}
.header__gradient {
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    background-color: rgba(6, 18, 36);
    display: none;
}
@media only screen and (max-width:980px) {
    .header__nav-item {
        margin-right: 16px;
    }
    .header__nav {
        margin-right: 25px;
    }
    .header__auth-button {
        margin-right: 16px;
    }
    .header__auth {
        margin-right: 16px;
    }
}
@media only screen and (max-width:890px) {
    .header__checkbox-label{
        display: block;
    }
    .header__menu {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 450px;
        height: 100vh;
        top: 0;
        right: 0;
        padding: 106px 45px 45px;
        .header__menu-logo {
            display: inline-block;
            position: absolute;
            top: 35px;
        }
    }
    .header__checkbox:checked ~ .header__menu {
        display: block;
        z-index: 3;
    }
    .header__checkbox:checked ~ .header__gradient {
        display: block;
        z-index: 1;

    }
    .header__nav {
        margin: 0;
    }
    .header__nav-list {
        border-top: 1px solid $blue;
        flex-direction: column;
        width: 100%;
    }
    .header__nav-item {
        margin: 0 0 44px;
        &:first-child {
            margin-top: 44px;
        }
    }
    .header__nav-item-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 19%;
        vertical-align: middle;
        text-transform: uppercase;

    }
    .header__auth{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding-bottom: 28px;
        width: 100%;
        border-bottom: 1px solid $blue;
        margin-bottom: 15px;
    }
    .header__auth-button{
        margin: 0;
        display: block;
        margin-bottom: 24px;
    }
}
@media only screen and (max-width:440px){
    .header__menu{
        width: 380px;
        padding-right: 20px;
        padding-left: 20px;
    }
}